@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    height:5rem;
    color: #fff;
}

header p {
    font-size: .8rem;
    text-align: center;
}

.header-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-area button {
    font-size: .8rem;
    background-color: red;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
    color: #fff;
    padding: .5rem;
    margin: 0 1rem 0 0;
}

.header-area .socials i{
    font-size: .8rem;
    background-color: rgb(94, 137, 194);
    padding: .6rem;
    border-radius: 3px;
    margin: 0 .6rem 0 0;
    cursor: pointer;
}

.contact-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-area img {
    width: 3.6rem;
    height: 3.6rem;
}

.contact-area .top, .contact-area .top p {
    display: flex;
    align-items: center;
    font-size: .8rem;
    margin-right: 1rem;
}

.contact-area .top i {
    font-size: 1.5rem;
    margin: 0 1.2rem 0 0;
    color: rgb(247, 11, 11);
}

nav, .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: .8rem 1rem 0 0;
}

.navbar li {
    display: flex;
    margin: 0 1rem 0 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.navbar ul li a:hover {
    background-color: rgb(247, 11, 11);
    padding: .2rem;
    border-radius: 2px;
    color: #fff;
}

.banner {
    background: url("./images/clean.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 2rem;
}

.banner .disinfect {
    margin-left: 5rem;
    color: #fff;
}

.banner .disinfect strong {
    font-size: 2rem;
}

.banner .disinfect button {
    padding: 1rem 2rem;
    border-radius: 2px;
}

.banner .disinfect .learn-btn {
    margin-right: 1rem;
    background-color: rgb(247, 11, 11);
    color: #fff;
    border: transparent;
    cursor: pointer;
}

.banner .disinfect .services-btn {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.banner .disinfect .services-btn:hover {
    background-color: rgb(247, 11, 11);
    border: none
}

.grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 10rem;
}

.grids .grid {
    background: rgb(250, 250, 250);
    border: 1px solid rgb(245, 245, 245);
    padding: 1rem 0 1rem 1rem;
    border-radius: 5px;
    width: 100%;
    height: 60%;
    transition: .5s;
    cursor: pointer;
}

.grids .grid:hover {
    background-color: rgb(0, 0, 255);
}

.grids .grid i {
    font-size: 1.5rem;
    color:rgb(112, 112, 112);
}

.grids .grid .icon-right {
    display: flex;
    justify-content: right;
}

.grids .grid .icon-right i {
    background-color: rgb(247, 11, 11);
    font-size: .5rem;
    padding: .5rem;
    border-radius: 50%;
    color: #fff;
}

.environmental {
    margin:4rem 1rem 0 1rem;
}

.environmental .environ-text button {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(0, 0, 255);
    color: #fff;
    border: transparent;
    border-radius: 2px;
    margin-bottom: 3rem;
    cursor: pointer;
}

.environmental .environ-text button:hover{

}

.environmental .pics{
    display: flex;
    justify-content: center;
    align-items: center;
}

.environmental .pics .hotel-pic {
    width: 25rem;
    height: 30rem;
    margin-right: 2rem;
}


.environmental .pics .images-sm {
    display: flex;
    flex-direction: column;
}

.environmental .pics .images-sm img{
    width: 30rem;
    height: 15rem;
}

.services .products-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    line-height: 1rem;
}

.products-intro h1 {
    font-size: 2rem;
    font-weight: 600;
}

.services .grids-2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.services .grids-2 .grids-2-grid {
    height: 15rem;
    width: 25rem;
    background-color: rgb(250, 250, 250);
    padding: 1rem 0 1rem 1rem;
    border-bottom: 2px solid rgb(247, 11, 11);
    margin-top: 2rem;
}

.services .grids-2 .grids-2-grid h3 {
    font-weight: 400;
}

.services .grids-2 .grids-2-grid i {
    font-size: 2rem;
    color: rgb(0, 0, 255);
}

.services .grids-2 .grids-2-grid .read-more-btn {
    display: flex;
    justify-content: end;
}

.services .grids-2 .grids-2-grid .read-more-btn button {
    width: 7rem;
    height: 2rem;
    background-color: rgb(247, 11, 11);
    color: #fff;
    border: transparent;
    cursor: pointer;
}

.FAQ {
    margin-top: 4rem;
}

.FAQ .faq-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FAQ .faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 0 1rem;
    padding: 0 1rem;
    background-color: rgb(243, 243, 243);
    transition: .5s;
    cursor: pointer;
}

.FAQ .faq:hover {
    background-color: rgb(0, 0, 255);
    color: #fff;
}

.booking .book{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking form input {
    width: 60%;
    height: 3rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
    border: 1px solid rgb(219, 219, 219);
    outline-color: rgb(0, 0, 255);
    
}

.booking form button {
    width: 12rem;
    height: 2.5rem;
    border: transparent;
    border-radius: 2px;
    background-color: rgb(247, 11, 11);
    color: #fff;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-color: rgb(17, 17, 128);
    color: #fff;
}

footer .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer i {
    font-size: 1.5rem;
    cursor: pointer;
}

footer .footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

footer .footer-socials .top {
    margin: 2rem;
}

footer .footer-services ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    list-style: none;
}

footer .footer-services ul li {
    margin: 0 1rem 1rem 0;
}

footer .footer-subscribe form input{
    width: 30rem;
    height: 2rem;
    margin-bottom: 5rem;
    padding-left: .2rem;
    outline-color: rgb(0, 0, 255);
}

footer .footer-subscribe form button {
    width: 10rem;
    height: 2.4rem;
    background-color: rgb(247, 11, 11);
    color: #fff;
    border: transparent;
    border-radius: 2px;
    cursor: pointer;
}

footer .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {

    .after-header .top.contacts, nav {
        display: none;
    }

    .banner .disinfect .banner-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner .banner-btn button {
        margin-bottom: .5rem;
    }

    .grids {
        display: flex;
        flex-direction: column;
    }

    .environmental .environ-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .environmental .pics {
        display: flex;
        flex-direction: column;
    }

    .environmental .pics img {
        margin-bottom: 1rem;
    }

    .services .grids-2-grid .grids-2  {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer .footer-contact .footer-socials {
        display: flex;
        flex-direction: column;
    }

    footer .footer-services ul {
        display: flex;
        flex-direction: column;
    }

    footer .footer-subscribe form {
        display: flex;
        flex-direction: column;
    }

    footer .footer-subscribe form button {
        margin-top: -3.5rem;
        margin-bottom: 2rem;
    }

    footer .footer-contact-title, .footer-services h2, .footer-subscribe h2, .footer-logo {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 480px) {
    .grids .grid {
        width: 20rem;
    }

    .services .grids-2-grid .grids-2 {
        width: 10rem;
    }
}

@media screen and (max-width: 400px) {
    header .header-area .socials {
        display: none;
    }
}